<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>

<div class="header">
<div class="row no-gutters bgColor">
  <div class="col-1">
    <i
      class="fa fa-bars js-hamburger menu-icon cursor-pointer pl-2"
      style="color: #dc3545 !important"
      (click)="coreService.showSideBar = true"
    ></i>
  </div>
  <div class="col-10">
    <span (click)="HomeRedirect()" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable"
      >All Templates</span
    >
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>
</div>

<div class="fadeInLeft animated">  
  <div
    class="row"
    *ngFor="let category of allTemplates; index as i; last as l; even as e"
    [hidden]="i % 2 !== 0"
  >
    <div class="col-sm mb-2">
      <div class="imgContainer imgShadow imgPadding">
        <img
          [src]="category.CategoryImagePath"
          (click)="GotoSubCategory(category.CategoryId)"
          class="cursor-pointer"
        />
      </div>
    </div>
    <div class="col-sm mb-2">
      <div class="imgContainer imgShadow imgPadding">
        <img
          [src]="
            allTemplates[i === allTemplates?.length - 1 ? 0 : i + 1][
              'CategoryImagePath'
            ]
          "
          (click)="
            GotoSubCategory(
              allTemplates[i === allTemplates?.length - 1 ? 0 : i + 1][
                'CategoryId'
              ]
            )
          "
          class="cursor-pointer"
        />
      </div>
    </div>
  </div>
</div>
