@media screen and (min-width: 768) {
  .ImgClass {
    /* height: 400px !important; */
    text-align: center;
  }

  img {
    /* height: 390px !important; */
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    /* height: 180px !important; */
    text-align: center;
  }

  img {
    /* height: 175px !important; */
    text-align: center;
  }
}

// .image-slider-twice {
//   width: 48%;
//   height: 100% !important;
//   border-radius: 11px;
//   padding-right: 5px;
//   padding-left: 5px;
// }
