
<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <span
      (click)="coreService.showSideBar = true"
      id="SideBar"
      role="button"
      class="btn"
      style="padding:0px"
    >
      <i class="fa fa-bars js-hamburger humbergPD"></i>
    </span>
  </div>

  <div class="col-10" *ngIf="IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span
      routerLink="/template/view-all"
      class="badge badge-pill badge-info setMargin"
      >All Templates</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      TemplbadgeName1
    }}</span>
  </div>
  <div class="col-10" *ngIf="!IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      TemplbadgeName1
    }}</span>
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>
</div>
<div class="">
  <div class="" *ngFor="let subCategory of SubCategory">
    <div class="row mt-3 mb-2">
      <div class="col ml-1 router-links">
        <a (click)="GotoObjectlist(subCategory.SubCategoryUId)">{{
          subCategory.SubCategoryName
        }}</a>
      </div>
      <div class="col mr-1 router-links text-right">
        <a (click)="GotoObjectlist(subCategory.SubCategoryUId)">View All</a>
      </div>
    </div>

    <div class="row">
      <img
        class="ml-3 image-slider-twice"
        [src]="subCategory['ObjectImagePath1']"
      />
      <img
        class="ml-1 image-slider-twice"
        [src]="subCategory['ObjectImagePath2']"
        *ngIf="subCategory['RowNum'] == 2"
      />
    </div>
  </div>
</div>

<!-- <div
  class="fadeInLeft animated"
  style="
margin-top: 70px;
"
>
  <div class="col-12 setTop" style="padding-top: 10px;">
    <div
      *ngFor="let subCategory of SubCategory; index as i; last as l; even as e"
      style="padding-top: 10px;"
    >
      <div class="row" style="padding-bottom: 5px;">
        <div class="col-md-6 col-sm-6 col-xs-6 col-6">
          <label
            class="lblFontFamily"
            (click)="GotoObjectlist(subCategory.SubCategoryUId)"
            >{{ subCategory.SubCategoryName }}</label
          >
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 col-6 text-right">
          <label
            class="lblFontFamily"
            (click)="GotoObjectlist(subCategory.SubCategoryUId)"
            >View All</label
          >
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-6">
          <div class="imgContainer imgShadow">
            <img
              [src]="subCategory['ObjectImagePath1']"
              class="img-fluid rounded"
            />
          </div>
        </div>
        <div
          class="col-md-6 col-sm-6 col-xs-6 col-6"
          *ngIf="subCategory['RowNum'] == 2"
        >
          <div class="imgContainer imgShadow">
            <img
              [src]="subCategory['ObjectImagePath2']"
              class="img-fluid rounded"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
