@media screen and (min-width: 768) {
  .ImgClass {
    /* height: 400px !important; */
    text-align: center;
  }

  img {
    /* height: 390px !important; */
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    /* height: 180px !important; */
    text-align: center;
  }

  img {
    /* height: 175px !important; */
    text-align: center;
  }
}


.image-slider-twice {
  width: 46%;
  height: 100% !important;
  border-radius: 11px;
  padding-right: 5px;
  padding-left: 5px;
  border: 2px solid #e4e8ed;
}
.router-links {
  font-weight: 630 !important;
  font-size: 16px !important;
  color: #0056b3 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
