<ngb-carousel
  [showNavigationIndicators]="showNavigationIndicators"
  [interval]="2000"
>
  <ng-template ngbSlide *ngFor="let item of dataCollection; let i = index">
    <div [hidden]="i % 2 !== 0" class="d-flex">
      <img
        class="col-6 image-slider-twice"
        [src]="item[propertyName]"
        alt="Loading..."
        (click)="onClickOfImage(item)"
      />
      <img
        class="col-6 image-slider-twice"
        [src]="
          dataCollection[i === dataCollection?.length - 1 ? 0 : i + 1][
            propertyName
          ]
        "
        alt="Loading..."
        (click)="
          onClickOfImage(
            dataCollection[i === dataCollection?.length - 1 ? 0 : i + 1]
          )
        "
      />
    </div>
  </ng-template>
</ngb-carousel>
