@media screen and (min-width: 768) {
  .ImgClass {
    /* height: 400px !important; */
    text-align: center;
  }

  img {
    /* height: 390px !important; */
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    /* height: 180px !important; */
    text-align: center;
  }

  img {
    /* height: 175px !important; */
    text-align: center;
  }
}

.ImgClass{
  padding: 0 5px 0 9px;
}

.imgShadow img{
  border: 1px solid #ddd;
  border-radius: 0px;
  box-shadow: 0px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
