<div class="card m-4">
  <div class="card-header font-weight-bold">
    Terms and Policies
  </div>
  <div class="card-body h-auto">
    <blockquote class="blockquote mb-0">
      <p class="font-weight-light">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </p>
      <footer class="blockquote-footer">
        Shashi koteshwara
      </footer>
    </blockquote>
  </div>
</div>
