
<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <span
      (click)="coreService.showSideBar = true"
      id="SideBar"
      role="button"
      class="btn"
      style="padding:0px"
    >
      <i class="fa fa-bars js-hamburger humbergPD"></i>
    </span>
  </div>
  <div class="col-10" *ngIf="IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span
      routerLink="/domain/view-all"
      class="badge badge-pill badge-info setMargin"
      >All Domains</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      DomainName
    }}</span>
  </div>
  <div class="col-10" *ngIf="!IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      DomainName
    }}</span>
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>
</div>
<div class="fadeInLeft animated">
  <div class="row">
    <div
      class="col-md-6 col-sm-6"
      *ngFor="let obj of ObjectListing?.ObjectArray"      
    >
      <div class="imgContainer imgShadow imgPadding">
        <img [src]="obj['ObjectImagePath']" class="img-fluid rounded" />
        <div class="overlay">
          <div style="color:white">
            <div class="row">              
              <div class="col-3">              

                <img                  
                  src="assets/img/Cart-Icons.png"
                  (click)="AddtoCart(obj.ObjectIid)"
                  data-toggle="tooltip"
                  title="Add To Cart Item"
                  class="addCartIcon"                  
                />
              </div>
              <div class="col-5 priceTag" style="justify-content:center;">
                <p [ngClass]="obj.Price !== 0 ? 'd-block' : 'd-none'">
                  Price:<b> {{ obj.Price | currency }}</b>
                </p>
                <img
                  [ngClass]="obj.Price === 0 ? 'd-block' : 'd-none'"
                  src="assets/img/InsertIcon.png"
                  data-toggle="tooltip"
                  title="Insert Icon"
                  class="img-fluid insertIcon ml-4"
                  (click)="insertSlide(obj.ObjectIid)"
                />
              </div>
              <div class="col-3">
                  <img                  
                  src="assets/img/Full-Screen.png"
                  (click)="imageDetails = obj"
                  data-toggle="tooltip"
                  title="View Image"
                  class="viewImgIcon"                  
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <button
      (click)="FirstPage()"
      data-toggle="tooltip"
      title="First"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-double-left"></i>
    </button>
    <button
      (click)="PreviousPage()"
      data-toggle="tooltip"
      title="Prev"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-left"></i>
    </button>
    &nbsp;{{ PageNo }}/{{ TotalPage }}&nbsp;
    <button
      (click)="NextPage()"
      data-toggle="tooltip"
      title="Next"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-right"></i>
    </button>
    <button
      (click)="LastPage()"
      data-toggle="tooltip"
      title="Last"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>

<app-view-full-on-screen
  [imageDetails]="imageDetails"
  (clearQueue)="imageDetails = null"
></app-view-full-on-screen>
