<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>
<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <i
      class="fa fa-bars js-hamburger menu-icon cursor-pointer pl-2"
      style="color: #dc3545 !important"
      (click)="coreService.showSideBar = true"
    ></i>
  </div>
  <div class="col-10">
    <span (click)="HomeRedirect()" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable"
      >All Domains</span
    >
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>

</div>
<div class="fadeInLeft animated">
  <div class="row">
    <div
      class="col-md-6 col-sm-6"
      *ngFor="let domain of allDomains; index as i; last as l; even as e"
      id="domain-{{ domain.DomainId }}"
    >
      <div class="imgShadow imgPadding imgPadding">
        <a
          (click)="GoToCategory(domain.DomainId, domain.DomainName)"
          class="imgShadow"
        >
          <img [src]="domain.DomainImagePath" class="img-fluid rounded" />
        </a>
      </div>
    </div>
  </div>
</div>
