@media screen and (min-width: 768) {
  .ImgClass {
    text-align: center;
  }

  img {
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    text-align: center;
  }

  img {
    text-align: center;
  }
}
