<div class="header">
  <div class="row no-gutters bgColor">
    <div class="col-1">
      <span
        (click)="coreService.showSideBar = true"
        id="SideBar"
        role="button"
        class="btn"
        style="padding:0px"
      >
        <i class="fa fa-bars js-hamburger humbergPD"></i>
      </span>
    </div>
    <div class="col-10">
      <span routerLink="/home" class="badge badge-pill badge-info setMargin"
        >Home</span
      >
      <span class="badge badge-pill badge-secondary disabled setMarginDisable"
        >My Cart</span
      >
    </div>
    <div class="col-1">
      <i
        class="fa fa-arrow-left cursor-pointer"
        (click)="coreService.back()"
      ></i>
    </div>
  </div>
</div>
<div *ngIf="showcart?.length">
  <div class="row p-2">
    <div class="col-12 border-bottom">
      <h5 class="text-left mt-0">
        My cart (<span>{{ TotalItem }}</span
        >)
      </h5>
    </div>
    <div class="col-12">
      <div class="row mt-2" *ngFor="let Cart of showcart; let i = index">
        <div class="col-4">
          <img [src]="Cart.ObjectImagePath" class="img-fluid" alt="product 1" />
        </div>
        <div class="col-4">
          {{ Cart.ObjectName }}
        </div>
        <div class="col-2">
          <i
            class="fas fa-trash-alt cursor-pointer"
            (click)="Remove(Cart.ObjectIid)"
          ></i>
        </div>
        <div class="col-2" style="color: darkgoldenrod;">
          {{ Cart.Price | currency }}
        </div>
      </div>
      <div
        class="row mt-2 pt-2 pb-2"
        style="background-color: #f2f2f2"
        *ngIf="showcart?.length"
      >
        <div class="col float-right">
          Subtotal(<span class="subtotal-count">{{ TotalItem }}</span
          >):
          <span class="subtotal-price darkgoldenrod">{{
            CartAmount | currency
          }}</span>
        </div>
      </div>
    </div>
    <div class="col-12 text-center">
      <button
        [disabled]="TotalItem <= 0"
        (click)="gotoPage()"
        class="btn btn-primary btn-sm"
      >
        Download
      </button>
    </div>
  </div>
</div>

<div
  *ngIf="showcart?.length <= 0"
  class="alert alert-secondary no-data-available"
  role="alert"
>
  Your cart is empty
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>
