<div class="card m-4">
  <div class="card-header text-center">
    Sign Up
  </div>
  <div class="card-body h-100">
    <form
      #SignUpForm="ngForm"
      name="SignUpForm"
      id="SignUpForm"
      (ngSubmit)="onClickOfCreateAccount(SignUpForm)"
    >
      <div class="form-group">
        <label for="firstName">
          First Name<sup class="text-danger">*</sup>
        </label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          placeholder="Enter first name"
          name="firstName"
          required
          #firstName="ngModel"
          [(ngModel)]="model.firstName"
        />
        <div
          *ngIf="
            firstName.invalid &&
            (firstName.dirty || firstName.touched || SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!firstName.errors.required">
            Fisrt Name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">
          Last Name<sup class="text-danger">*</sup>
        </label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          placeholder="Enter last name"
          required
          name="lastName"
          #lastName="ngModel"
          [(ngModel)]="model.lastName"
        />
        <div
          *ngIf="
            lastName.invalid &&
            (lastName.dirty || lastName.touched || SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!lastName.errors.required">
            Last Name is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">
          Email Address<sup class="text-danger">*</sup>
        </label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          required
          name="emailId"
          #emailId="ngModel"
          [(ngModel)]="model.emailId"
          (blur)="IsEmailExisits()"
        />
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your email with anyone else.</small
        >
        <div
          *ngIf="
            emailId.invalid &&
            (emailId.dirty || emailId.touched || SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!emailId.errors.required">
            Email Address is required.
          </div>
        </div>
        <div *ngIf="!isEmailValidationFlag" class="text-danger small">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <label for="otp"> OTP<sup class="text-danger">*</sup> </label>
        <input
          type="text"
          class="form-control"
          id="otp"
          placeholder="Enter OTP"
          name="otp"
          required
          #otp="ngModel"
          (blur)="validateOTP()"
          [(ngModel)]="model.otp"
        />
        <div
          *ngIf="
            otp.invalid && (otp.dirty || otp.touched || SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!otp.errors.required">
            OTP is required.
          </div>
        </div>
        <div *ngIf="!isOTPValidationFlag" class="text-danger small">
          {{ errorMessage }}
        </div>
      </div>
      <div class="form-group">
        <label for="password"> Password<sup class="text-danger">*</sup> </label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Choose password"
          required
          name="password"
          #password="ngModel"
          [(ngModel)]="model.password"
        />
        <div
          *ngIf="
            password.invalid &&
            (password.dirty || password.touched || SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!password.errors.required">
            Password is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">
          Confirm Password<sup class="text-danger">*</sup>
        </label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password"
          required
          name="confirmPassword"
          #confirmPassword="ngModel"
          [(ngModel)]="model.confirmPassword"
        />
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty ||
              confirmPassword.touched ||
              SignUpForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!confirmPassword.errors.required">
            Confirm password is required.
          </div>
        </div>
      </div>
      <button [disabled]="!isDone" type="submit" class="btn btn-primary">
        Create Account
      </button>
    </form>
    <div class="row">
      <div class="col text-right">
        <a
          [routerLink]="['/auth/sign-in']"
          routerLinkActive="router-link-active"
        >
          Already have account?</a
        >
      </div>
    </div>
  </div>
</div>
