<div class="container mt-2">
  <div class="card">
    <div class="card-header">
      Free
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          Download free slides Unlimited Free Icons
          <button class="btn btn-primary" (click)="onClickOfFree()">
            Subscribe
          </button>
        </p>
      </blockquote>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      $3.99
      <span>per week</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          10 slides/week, anything above we will charge $1 per slide, Unlimited
          Free Icons
          <button class="btn btn-primary" (click)="onClickOfWeekly()">
            Subscribe
          </button>
        </p>
      </blockquote>
    </div>
  </div>

  <div class="card mt-2">
    <div class="card-header">
      $3.99
      <span>per week</span>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>
          10 slides/month, anything above we will charge $1 per slide, Unlimited
          Free Icons
          <button class="btn btn-primary" (click)="onClickOfMonthly()">
            Subscribe
          </button>
        </p>
      </blockquote>
    </div>
  </div>
</div>
