<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>
<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <span
      (click)="coreService.showSideBar = true"
      id="SideBar"
      role="button"
      class="btn"
      style="padding:0px"
    >
      <i class="fa fa-bars js-hamburger"></i>
    </span>
  </div>
  <div class="col-10">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable"
      >All Icons</span
    >
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>
</div>
<div class="fadeInLeft animated">
  <div
    class="row"
    *ngFor="let obj of Icons; let i = index"
    [hidden]="i % 2 !== 0"
  >
    <div class="col-sm">
      <div class="imgContainer imgShadow imgPadding">
        <img
          [src]="obj['IconImagePath']"
          (click)="GoToCategory(obj['IconUid'], obj['IconName'])"
          class="cursor-pointer"
        />
      </div>
    </div>
    <div class="col-sm">
      <div class="imgContainer imgShadow imgPadding">
        <img
          [src]="Icons[i === Icons?.length - 1 ? 0 : i + 1]['IconImagePath']"
          (click)="
            GoToCategory(
              Icons[i === Icons?.length - 1 ? 0 : i + 1]['IconUid'],
              Icons[i === Icons?.length - 1 ? 0 : i + 1]['IconName']
            )
          "
          class="cursor-pointer"
        />
      </div>
    </div>
  </div>
</div>

