<div
  class="modal fade"
  [ngClass]="imageDetails ? 'show display-block1' : ''"
  id="view-image-on-full-screen"
>
  <div
    class="modal-dialog modal-lg modelWidth fadeInLeft animated"
    id="image-on-full-screen"
  >
    <div class="modal-content">     
      <!-- Modal body -->
      <div class="modal-body">
        <img [src]="imageDetails?.ObjectImagePath" />
      </div>
      <!-- Modal footer -->
      <div class="modal-footer popModalFooter">
        <div class="row">
            <div class="col-6 col-md-6 col-sm-6">
                <button
                type="button"
                class="btn btn-primary mr-auto btn-sm"
                (click)="AddtoCart(imageDetails?.ObjectIid)"
                data-toggle="tooltip" title="Add To Cart Item"
              >
                <i
                
                  class="fas fa-cart-arrow-down rounded"
                  style="cursor: pointer"
                ></i> Add To Cart
              </button>
            </div><br>
            <div class="col-6 col-md-6 col-sm-6" style="text-align: right;">
                <button type="button" class="btn btn-secondary btn-sm" data-toggle="tooltip" title="Close Modal Popup" 
                (click)="closeModal()">
                    Close
                  </button>
            </div><br>       
          </div>
      </div>
    </div>
  </div>
</div>
