.sidenav {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.light-blue-backdrop {
  background-color: #000000;
}

.Price {
  border: 1px;
  border-radius: 10px;
  background-color: grey;
  font-size: 15px;
}

@media (max-width: 767px) {
  .top-navbar ul li {
    margin-left: 0px;
    margin-top: 0px;
  }
}

li {
  padding: 0px 7px;
}

#serchBoxSection {
  margin-bottom: 8px;
  margin-top: -6px;
}

.borderRadNone {
  border-radius: 0px;
  width: 83%;
}

.input-group-prepend {
  margin-right: -12px;
  font-size: 15px;
  padding: 0;
  border-radius: 4px 0px 0px 4px;
}

#arrowIcon {
  cursor: pointer;
}
.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.hovers:hover {
  background-color: #333333;
  color: white;
}

#sidebarMenuName {
  padding: 5px;
  font-size: 1.1em;
  display: block;
  font-size: 16px;
  font-family: 'Open Sans';
}

.new-logo {
  width: 70px;
}

.custom-container-fluid {
  width: 100%;
  padding-right: 4px;
  padding-left: 4px;
  margin-right: auto;
  margin-left: auto;
}
.setting-position {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
}
