<div
  id="setting-list-items"
  class="setting-position btn-group-vertical d-none"
  (mouseleave)="mouseLeaveOnSettingIcon()"
>
  <div class="list-group">
    <button
      type="button"
      class="list-group-item list-group-item-action"
      [routerLink]="['/LoginSuccess/contact-us']"
      routerLinkActive="active"
      [ngClass]="
        router.url === '/LoginSuccess/contact-us' ? '' : 'cursor-pointer'
      "
    >
      Contact Us
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action"
      [routerLink]="['/LoginSuccess/report-problem']"
      routerLinkActive="active"
      [ngClass]="
        router.url === '/LoginSuccess/report-problem' ? '' : 'cursor-pointer'
      "
    >
      Report Problem
    </button>
    <button
      type="button"
      class="list-group-item list-group-item-action"
      [routerLink]="['/LoginSuccess/terms-policy']"
      routerLinkActive="active"
      [ngClass]="
        router.url === '/LoginSuccess/terms-policy' ? '' : 'cursor-pointer'
      "
    >
      Terms Policy
    </button>
  </div>
</div>

<div class="header">
  <div
    class="col-12 top-navbar"
    [ngClass]="IsHeaderShow ? 'd-block' : 'd-none'"
  >
    <div class="row">
      <div class="col-4" style="padding: 5px 3px;">
        <a routerLink="/home">
          <img
            src="../../assets/img/Slide365 Logo.png"
            alt="logo"
            class="logo img-fluid"
            style="margin-top: -10px;"
          />
        </a>
      </div>

      <div class="col-8 text-right">
        <ul style="margin-right: -13px;">
          <li>
            <span
              (click)="goTosubscriptionPage()"
              id="test"
              class="btn"
              style="padding:0px"
            >
              <span class="fas fa-ellipsis-v" style="color: white"></span>
            </span>
          </li>
          <li class="dropdown login-user">
            <span
              (click)="IsHeaderShow = false"
              id="login"
              class="btn"
              style="padding:0px"
            >
              <span class="fas fa-search" style="color: white"></span>
            </span>
          </li>
          <li class="dropdown shopping-bag">
            <span (click)="Carts()" id="cart" class="btn" style="padding:0px">
              <i
                class="fa fa-shopping-cart"
                [ngClass]="bounce ? 'bounce' : ''"
                style="color: white"
              ></i>
              <span
                class="badge"
                style="color: white"
                *ngIf="coreService.TotalItem != 0"
                >{{ coreService.TotalItem }}</span
              >
            </span>
          </li>

          <li class="dropdown login-user">
            <span
              (click)="User()"
              id="login"
              class="btn"
              style="padding:0px"
              data-toggle="modal"
              data-target="#myModal"
            >
              <span
                class="fas"
                [ngClass]="isLoggedInUser ? 'fa-user-check' : 'fa-user'"
                style="color: white"
              ></span>
            </span>
          </li>
          <li>
            <span
              (click)="mouseEnterOnSettingIcon()"
              id="config"
              class="btn"
              style="padding:0px"
            >
              <span class="fas fa-ellipsis-v" style="color: white"></span>
            </span>
          </li>
        </ul>
        <div class="shopping-bag-popover">
          <app-cart
            [showCartModel]="showCartModel"
            (eventEmitter)="GetCart(0)"
          ></app-cart>
        </div>
        <div class="login">
          <app-login
            [showModel]="showModel"
            (eventEmitter)="callFromChildComponent($event)"
          ></app-login>
        </div>
        <div class="config" *ngIf="IsSetting">
          <app-settings [showSettings]="showSettings"></app-settings>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-12 top-navbar"
    style="position: fixed;"
    [ngClass]="!IsHeaderShow ? 'd-block' : 'd-none'"
  >
    <div class="row" id="searchBarDiv">
      <div class="col-1">
        <span (click)="hideSearchBar()" id="arrowIcon">
          <i class="fa fa-arrow-left" style="font-size:24px;color:white"></i>
        </span>
      </div>
      <div class="col-11">
        <div id="serchBoxSection">
          <form>
            <div class="input-group" id="boot-search-box">
              <div class="input-group-btn all input-group-prepend">
                <select
                  class="form-control input-group-prepend borderRadNone"
                  [(ngModel)]="SelectedType"
                  style="padding:0;width: auto;margin-right: 13px;background-color: gainsboro;"
                  name="SelectedType"
                >
                  <option value="Template">Template</option>
                  <option value="Domain">Domain</option>
                  <option value="Icons">Icons</option>
                </select>
              </div>
              <input
                type="text"
                class="form-control"
                style="border-left: 0px;"
                placeholder="Search like: Account Plan"
                [(ngModel)]="SearchTerm"
                name="SearchTerm"
              />
              <div class="input-group-btn input-group-append">
                <div class="btn-group" role="group">
                  <button
                    type="submit"
                    style="border-radius: 0px 4px 4px 0px;"
                    class="btn btn-success btn-srch"
                    (click)="Search()"
                  >
                    <span class="fas fa-search" aria-hidden="true"> </span>
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- SideBar -->
  <div
    class="aside-navbar js-aside-section fadeInLeft animated"
    [ngClass]="coreService?.showSideBar ? 'display-block' : 'display-none'"
    id="sideBarDiv"
  >
    <div class="">
      <div class="col-12 p-1">
        <a class="js-aside-section-close">
          <h4 class="text-center" style="font-size: 1rem">
            <span
              class="fas fa-caret-left "
              style="float: left;cursor:pointer"
              (click)="Back()"
            ></span>
            {{ MenuItems?.Name }}
            <span
              style="cursor:pointer; position: absolute; z-index: 1; top: -7px; right: 0px; font-size: 30px;"
              (click)="coreService.showSideBar = false"
              >&times;</span
            >
          </h4>
        </a>
      </div>
      <div class="row">
        <div class="col-12">
          <hr />
        </div>
      </div>

      <div
        class="col-12 hovers"
        *ngFor="let List of MenuItems?.MenuList"
        style="cursor:pointer"
        (click)="Menu(List.Id, List.Name)"
      >
        <a id="sidebarMenuName">{{ List.Name }}</a>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
