<div class="card m-4">
  <div class="card-header text-center">
    Reset Password
  </div>
  <div class="card-body h-100">
    <form
      #resetForm="ngForm"
      name="resetForm"
      id="resetForm"
      (ngSubmit)="onClickOfResetPassword(resetForm)"
    >
      <div class="form-group">
        <label for="password">
          Choose Password<sup class="text-danger">*</sup>
        </label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Choose password"
          required
          name="password"
          #password="ngModel"
          [(ngModel)]="model.password"
        />
        <div
          *ngIf="
            password.invalid &&
            (password.dirty || password.touched || resetForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!password.errors.required">
            Password is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">
          Confirm Password<sup class="text-danger">*</sup>
        </label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          placeholder="Confirm password"
          required
          name="confirmPassword"
          #confirmPassword="ngModel"
          [(ngModel)]="model.confirmPassword"
        />
        <div
          *ngIf="
            confirmPassword.invalid &&
            (confirmPassword.dirty ||
              confirmPassword.touched ||
              resetForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!confirmPassword.errors.required">
            Confirm password is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
