<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>
<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <span
      (click)="coreService.showSideBar = true"
      id="SideBar"
      role="button"
      class="btn"
      style="padding:0px"
    >
      <i class="fa fa-bars js-hamburger humbergPD"></i>
    </span>
  </div>
  <div class="col-10" *ngIf="IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span
      routerLink="/icon/view-all"
      class="badge badge-pill badge-info setMargin"
      >All Icons</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      DomainName
    }}</span>
  </div>
  <div class="col-10" *ngIf="!IsAll">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable">{{
      DomainName
    }}</span>
  </div>
  <div class="col-1">
    <i class="fa fa-arrow-left cursor-pointer" (click)="coreService.back()"></i>
  </div>
</div>

</div>

<div
  *ngIf="ObjectListing && ObjectListing.Count" 
>
  <div class="row fadeInLeft animated">
    <div
      class="col-6 col-md-4 col-sm-4"
      *ngFor="let obj of ObjectListing?.ObjectArray; let i = index"      
      id="{{ 'element-' + i }}"
    >
      <div class="imgContainer imgShadow imgPadding">
        <img [src]="obj['ObjectImagePath']" class="img-fluid rounded" />

        <div class="overlay">
          <div class="text">
            <img
              src="../../assets/img/InsertIcon.png"
              data-toggle="tooltip"
              title="Insert Icon"
              class="img-fluid insertIcon"
              (click)="Download(obj['IconUid'])"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button
      (click)="FirstPage()"
      data-toggle="tooltip"
      title="First"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-double-left"></i>
    </button>
    <button
      (click)="PreviousPage()"
      data-toggle="tooltip"
      title="Prev"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-left"></i>
    </button>
    &nbsp;{{ PageNo }}/{{ TotalPage }}&nbsp;
    <button
      (click)="NextPage()"
      data-toggle="tooltip"
      title="Next"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-right"></i>
    </button>
    <button
      (click)="LastPage()"
      data-toggle="tooltip"
      title="Last"
      class="btn btn-default btn-circle"
    >
      <i class="fas fa-angle-double-right"></i>
    </button>
  </div>
</div>

<div
  *ngIf="ObjectListing?.Count <= 0 && !ngxLoading"
  class="alert alert-secondary no-data-available"
  role="alert"
>
  No Data available...
</div>

<app-view-full-on-screen
  [imageDetails]="imageDetails"
  (clearQueue)="imageDetails = null"
></app-view-full-on-screen>
