<div
  class="modal fade"
  [ngClass]="show ? 'show display-block1' : ''"
  id="loginModal"
>
  <div
    class="modal-dialog modal-lg modelWidth fadeInLeft animated"
    id="userLoginModal"
  >
    <div class="modal-content">
      <div class="modal-body">
        <div class="">
          <div class="col-12 text-center mt-10">
            <h5 class="text-left mt-0">
              <span class="js-close close-icon" (click)="Close()"></span>
            </h5>
          </div>
          <div *ngIf="IsLogin" class="col-12">
            <app-loggedin-user-info
              (eventEmitter)="callFromChildComponent($event)"
            ></app-loggedin-user-info>
          </div>
          <div *ngIf="!IsLogin" class="col-12">
            <div class="row bg-blue">
              <div class="col-12">
                <div class="row mt-1 mb-1">
                  <div
                    class="page-hero d-flex align-items-center justify-content-center mt-1"
                    style="width: 100%;"
                  >
                    <img
                      style="width:21%"
                      src="/assets/img/Slide365 Logo Small Size.png"
                    />
                  </div>
                </div>
                <div class="col-12 text-center">
                  <h5>Welcome to Slide 365</h5>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>
                <div class="col-12 text-center">
                  <div class="checkbox">
                    <label style="margin-bottom: 3%;">
                      <input
                        type="checkbox"
                        [(ngModel)]="Tnc"
                      />&nbsp;&nbsp;&nbsp;I agree to the</label
                    >
                    <p>
                      Terms & Conditions & Privecy Policy
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <hr />
                  </div>
                </div>
                <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8 mt-10 text-center">
                    <div class="row">
                      <button
                        [disabled]="!Tnc"
                        type="submit"
                        class="btn btn-befault btn-block back-clr-white"
                        (click)="onClickOfGoogleLogin()"
                      >
                        <i
                          class="fab fa-google-plus text-left"
                          style="color:red"
                        ></i>
                        &nbsp;&nbsp;&nbsp; Log In with Google
                      </button>
                      <button
                        [disabled]="!Tnc"
                        type="submit"
                        class="btn btn-befault btn-block back-clr-white"
                        style="margin-bottom: 15px;"
                        (click)="microsoftLogin()"
                      >
                        <i
                          class="fab fa-microsoft text-left"
                          style="color:blue"
                        ></i
                        >&nbsp;&nbsp;&nbsp; Log In with Microsoft
                      </button>
                    </div>
                  </div>
                  <div class="col-2"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
