<!-- <div class="row" style="
background-color: #73b3ea;
">
  <div class="page-hero d-flex align-items-center justify-content-center mt-2 mb-1">
      <img style="width:21%" class="mx-5" src="assets/img/Slide365 Logo Small Size.png">
  </div>
</div>
<div style="background-color: white !important;"></div> -->

<div
  class="row"
  style="
margin-top: 55px;
"
>
  <img src="assets/img/Payment-screen.jpg" style="height: 21%;" />
</div>

<div class="row">
  <img
    src="assets/img/Payment-screen-1.jpg"
    style="height: 21%;margin-bottom: -33px;"
  />
</div>

<!-- <div class="row text-center mt-10">
  <div class="pl-3 pr-2">
    <div style="font-size: larger;">Payment Information</div>
    <div class="ml-3 mr-3">
      Please select your location and prefered billing cycle
    </div>
  </div>
</div> -->

<!-- <form action="" method="POST" id="payment-form" (submit)="onSubmit()">
  <span class="payment-message">{{ error }}</span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
      <input name="card-number" type="text" size="20" data-stripe="number" />
    </label>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YY)</span>
      <input name="expiry-month" type="text" size="2" data-stripe="exp_month" />
    </label>
    <span> / </span>
    <input name="expiry-year" type="text" size="2" data-stripe="exp_year" />
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      <input name="cvc" type="text" size="4" data-stripe="cvc" />
    </label>
  </div>

  <input type="submit" value="Submit Payment" />
</form> -->

<div class="row text-center">
  <form
    #checkout="ngForm"
    (ngSubmit)="onSubmit(checkout)"
    class="checkout"
    style="width:920%"
  >
    <div class="form-row">
      <label for="card-info text-center col-12">Card Info</label>
      <div id="card-info" class="col-12" #cardInfo></div>
      <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
    </div>
    <button type="submit">Pay {{ CartAmount | currency }}</button>
  </form>
</div>

<div class="row">
  <img src="assets/img/Payment-screen-3.jpg" style="height: 21%;" />
</div>
