<div class="card m-4">
  <div class="card-header text-center">
    Forgot Password?
  </div>
  <div class="card-body h-100">
    <form
      #forgotForm="ngForm"
      name="forgotForm"
      id="forgotForm"
      (ngSubmit)="onClickOfForgotPassword(forgotForm)"
    >
      <div class="form-group">
        <label for="emailId"
          >Email address<sup class="text-danger">*</sup></label
        >
        <input
          type="email"
          class="form-control"
          id="emailId"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          required
          name="emailId"
          #emailId="ngModel"
          [(ngModel)]="model.emailId"
        />
        <div
          *ngIf="
            emailId.invalid &&
            (emailId.dirty || emailId.touched || forgotForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!emailId.errors.required">
            Email Address is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        Send link to registered email?
      </button>
    </form>
  </div>
</div>
