@media screen and (min-width: 768) {
  .ImgClass {
    /* height: 400px !important; */
    text-align: center;
  }

  img {
    /* height: 390px !important; */
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    /* height: 180px !important; */
    text-align: center;
  }

  img {
    /* height: 175px !important; */
    text-align: center;
  }
}
