<div class="card m-4">
  <div class="card-header text-center">
    Login
  </div>
  <div class="card-body h-100">
    <form
      #LoginForm="ngForm"
      name="LoginForm"
      id="LoginForm"
      (ngSubmit)="onClickOfLogin(LoginForm)"
    >
      <div class="form-group">
        <label for="emailId"
          >Email address<sup class="text-danger">*</sup></label
        >
        <input
          type="email"
          class="form-control"
          id="emailId"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          required
          name="emailId"
          #emailId="ngModel"
          [ngClass]="{ 'is-invalid': submitted && LoginForm.emailId.errors }"
          [(ngModel)]="model.emailId"
        />
        <div
          *ngIf="
            emailId.invalid &&
            (emailId.dirty || emailId.touched || LoginForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!emailId.errors.required">
            Email Address is required.
          </div>
          <div [hidden]="!emailId.errors.emailId">Email must be a valid email address</div>
        </div>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password"> Password<sup class="text-danger">*</sup> </label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Password"
          required
          name="password"
          #password="ngModel"
          [(ngModel)]="model.password"
        />
        <div
          *ngIf="
            password.invalid &&
            (password.dirty || password.touched || LoginForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!password.errors.required">
            Password is required.
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    <div class="row">
      <div class="col">
        <a
          [routerLink]="['/auth/forgot-password']"
          routerLinkActive="router-link-active"
        >
          Forgot password?</a
        >
      </div>
      <div class="col">
        <a
          [routerLink]="['/auth/sign-up']"
          routerLinkActive="router-link-active"
        >
          Create account?</a
        >
      </div>
    </div>
  </div>
</div>
