<div class="card m-4">
  <h5 class="card-header font-weight-bold">Contact Us</h5>
  <div class="card-body h-auto">
    <form #contactForm="ngForm" name="contactForm" id="contactForm">
      <div class="form-group">
        <label class="font-weight-bold" for="name">Name</label
        ><sup class="text-danger">*</sup>
        <input
          type="text"
          class="form-control form-control-sm"
          id="name"
          name="name"
          #name="ngModel"
          required
          [(ngModel)]="Name"
        />
        <div
          *ngIf="
            name.invalid &&
            (name.dirty || name.touched || contactForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!name.errors.required">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="email">Email</label
        ><sup class="text-danger">*</sup>
        <input
          type="text"
          class="form-control form-control-sm"
          id="email"
          name="email"
          #email="ngModel"
          required
          [(ngModel)]="Email"
        />
        <div
          *ngIf="
            email.invalid &&
            (email.dirty || email.touched || contactForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!email.errors.required">
            Email is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="subject">Subject</label
        ><sup class="text-danger">*</sup>
        <input
          type="text"
          class="form-control form-control-sm"
          id="subject"
          name="subject"
          #subject="ngModel"
          required
          [(ngModel)]="Subject"
        />
        <div
          *ngIf="
            subject.invalid &&
            (subject.dirty || subject.touched || contactForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!subject.errors.required">
            Subject is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="message">Your Message</label
        ><sup class="text-danger">*</sup>
        <textarea
          class="form-control form-control-sm"
          id="message"
          name="message"
          #message="ngModel"
          required
          [(ngModel)]="Message"
        ></textarea>
        <div
          *ngIf="
            message.invalid &&
            (message.dirty || message.touched || contactForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!message.errors.required">
            Message is required.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        (click)="onClickOFSendContact(contactForm)"
      >
        Send
      </button>
      <button
        type="button"
        class="btn btn-light float-right"
        (click)="onClickOFResetContact(contactForm)"
      >
        Reset
      </button>
    </form>
  </div>
</div>
