<div class="card m-4">
  <h5 class="card-header font-weight-bold">Report a Problem</h5>
  <div class="card-body h-auto">
    <form #reportForm="ngForm" name="reportForm" id="reportForm">
      <div class="form-group">
        <label class="font-weight-bold" for="problem">Name Of The Problem</label
        ><sup class="text-danger">*</sup>
        <input
          type="text"
          class="form-control form-control-sm"
          id="problem"
          name="problem"
          #Problem="ngModel"
          required
          [(ngModel)]="problem"
        />
        <div
          *ngIf="
            Problem.invalid &&
            (Problem.dirty || Problem.touched || reportForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!Problem.errors.required">
            Name of the problem is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="font-weight-bold" for="comment">Comment</label
        ><sup class="text-danger">*</sup>
        <textarea
          class="form-control form-control-sm"
          id="comment"
          name="comment"
          #Comment="ngModel"
          required
          [(ngModel)]="comment"
        ></textarea>
        <div
          *ngIf="
            Comment.invalid &&
            (Comment.dirty || Comment.touched || reportForm.submitted)
          "
          class="text-danger small"
        >
          <div [hidden]="!Comment.errors.required">
            Comment is required.
          </div>
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary"
        (click)="onClickOFSendComment(reportForm)"
      >
        Send
      </button>
      <button
        type="button"
        class="btn btn-light float-right"
        (click)="onClickOFResetComment(reportForm)"
      >
        Reset
      </button>
    </form>
  </div>
</div>
