<div
  class="modal fade"
  [ngClass]="show ? 'show display-block1' : ''"
  id="settingModal"
>
  <div
    class="modal-dialog modal-lg modelWidth fadeInLeft animated"
    id="settingUserModal"
  >
    <div class="modal-content">
      <!-- Modal Header -->
      <!-- <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" (click)="show=false">&times;</button>
      </div> -->
      <!-- Modal body -->
      <div class="modal-body">
        <div class="text-left">
          <div class="row">
            <div class="col-12">
              <h5 class="text-left mt-0">
                <span
                  class="close-iconSeting js-close"
                  (click)="Close()"
                ></span>
              </h5>
            </div>
            <div class="col-12">
              <ngb-accordion #acc="ngbAccordion">
                <ngb-panel title="Refresh">
                  <!-- <ng-template ngbPanelContent>

                              Do you want to refresh the App?
                              <br />
                              <br />
                              <button class="btn btn-info" (click)="reload()">Refresh</button>
                          </ng-template> -->
                </ngb-panel>
                <!-- <ngb-panel title="App Settings" id="config-panel-one">
                          <ng-template ngbPanelContent>

                              Do you want to refresh the App?
                              <br />
                              <br />
                              <button class="btn btn-info" (click)="reload()">Refresh</button>
                          </ng-template>
                      </ngb-panel> -->
                <ngb-panel title="Contact Us">
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-12">
                        <div class="form-group">
                          <label>Your Name (required)</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="Name"
                          />
                        </div>
                        <div class="form-group">
                          <label>Your Email (required)</label>
                          <input
                            type="email"
                            class="form-control"
                            [(ngModel)]="Email"
                          />
                        </div>
                        <div class="form-group">
                          <label>Subject</label>
                          <input
                            type="text"
                            class="form-control"
                            [(ngModel)]="Subject"
                          />
                        </div>
                        <div class="form-group">
                          <label>Your Message</label>
                          <textarea
                            rows="4"
                            class="form-control"
                            [(ngModel)]="Message"
                          ></textarea>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-default" (click)="ContactUs()">
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Report a Problem">
                  <ng-template ngbPanelContent>
                    <div class="row">
                      <div class="col-12">
                        <!-- <div class="form-group">
                                          <label>Problem</label>
                                          <select class="form-control" [(ngModel)]="Problem">
                                              <option value="App not loading Properly">App not loading
                                                  Properly</option>
                                              <option value="Yesterday">Yesterday</option>
                                              <option value="Last Months">Last Months</option>
                                              <option value="Last 6 Months">Last 6 Months</option>
                                          </select>
                                      </div> -->
                        <div class="form-group">
                          <label>Comments</label>
                          <textarea
                            rows="4"
                            class="form-control"
                            [(ngModel)]="Comments"
                          ></textarea>
                        </div>
                        <div class="text-center">
                          <button class="btn btn-default" (click)="Report()">
                            Send
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </ngb-panel>
                <ngb-panel title="Terms and Policy">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life
                    accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck
                    quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee
                    nulla assumenda shoreditch et. Nihil anim keffiyeh
                    helvetica, craft beer labore wes anderson cred nesciunt
                    sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                    Leggings occaecat craft beer farm-to-table, raw denim
                    aesthetic synth nesciunt you probably haven't heard of them
                    accusamus labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="show = false">
            Close
          </button>
        </div> -->
    </div>
  </div>
</div>
