<div class="row">
  <div class="col-12  js-info">
    <div class="row">
      <div class="col-7 col-sm-7 col-md-7 media-object">
        <img [src]="userInfo?.ProfilePic" />
        <p>
          <span>{{ userInfo?.Name }}</span>
        </p>
      </div>
      <div class="col-5 col-sm-5 col-md-5">
        <h6 (click)="Logout()" class="cursor-pointer">Logout</h6>
        <h6>
          <span>{{ TotalOrder }}</span> recent orders
        </h6>
      </div>
      <div class="col-12 clearfix">
        <hr />
      </div>
      <div class="col-12 text-left">
        <div class="row">
          <div class="col-12">
            <select class="form-control">
              <option>Todays</option>
              <option>Yesterday</option>
              <option>Last Months</option>
              <option>Last 6 Months</option>
            </select>
          </div>
          <div class="col-12 mt-10">
            <div class="row" *ngFor="let History of orderHistory">
              <div class="col-6">
                <img
                  [src]="History.ObjectImagePath"
                  class="img-fluid"
                  alt="product1"
                />
              </div>
              <div class="col-6 border-left">
                <p>{{ History.ObjectName }}</p>
                <p>
                  Price: <span>{{ History.Price | currency }}</span>
                </p>
                <p>
                  Date of Download:
                  {{ History.DownloadDate | date: 'dd/mm/yyyy' }}
                </p>
                <hr />
                <a href="#.">Buy it again <span class="caret"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
