<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
</ngx-spinner>

<div class="header">
  <div class="row no-gutters bgColor">
  <div class="col-1">
    <span
      (click)="coreService.showSideBar = true"
      id="SideBar"
      role="button"
      class="btn"
      style="padding:0px"
    >
      <i class="fa fa-bars js-hamburger humbergPD"></i>
    </span>
  </div>
  <div class="col-11">
    <span routerLink="/home" class="badge badge-pill badge-info setMargin"
      >Home</span
    >
    <span class="badge badge-pill badge-secondary disabled setMarginDisable"
      >Search</span
    >
  </div>
</div>
</div>
<div class="row">
  <div
    class="col-md-3 col-sm-6"
    *ngFor="let obj of ObjectListing.ObjectArray"
    style="padding:10px"
  >
    <div class="imgContainer imgShadow">
      <img [src]="obj['ObjectImagePath']" class="img-fluid rounded" />
            <div class="overlay">         
        <div style="color:white">           
          <div class="row" style="justify-content:center;">
           
          </div>
          <div class="row">
            
            <div class="col-3">              
              <img                  
              src="assets/img/Cart-Icons.png"
              (click)="AddtoCart(obj.ObjectIid)"
                data-toggle="tooltip" title="Add To Cart Item"
              class="addCartIcon"                  
            />
            </div>
            <div class="col-5 priceTag" style="justify-content:center;">
                <p>
                    Price:<b> {{ obj.Price | currency }}</b>
                  </p>
            </div>
            <div class="col-3">
              <img                  
              src="assets/img/Full-Screen.png"
              (click)="imageDetails = obj"
              data-toggle="tooltip"
              title="View Image"
              class="viewImgIcon"                  
            />
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let obj of ObjectListing.ObjectArray" style="padding:10px;margin-bottom: 10px">
        <div class="ImgClass">
          <img [src]="obj.ObjectImagePath" class="img-fluid" />
        </div>
        <div class="text-center">
          <span>Price:{{obj.Price|currency}}</span>
          <button (click)="AddtoCart(obj.ObjectIid)">AddToCart</button>
        </div>
      </div>
    </div> -->
<div class="text-center">
  <button (click)="FirstPage()" class="btn btn-default btn-circle">
    <i class="fas fa-angle-double-left"></i>
  </button>
  <button (click)="PreviousPage()" class="btn btn-default btn-circle">
    <i class="fas fa-angle-left"></i>
  </button>
  &nbsp; {{ PageNo }}/{{ TotalPage }} &nbsp;
  <button (click)="NextPage()" class="btn btn-default btn-circle">
    <i class="fas fa-angle-right"></i>
  </button>
  <button (click)="LastPage()" class="btn btn-default btn-circle">
    <i class="fas fa-angle-double-right"></i>
  </button>
</div>
