.image-slider {
  width: 100%;
  height: 110px !important;
}

.router-links { 
  padding-left: 20px !important;
  padding-right: 20px !important;
}

@media screen and (min-width: 768) {
  .ImgClass {
    text-align: center;
  }

  img {
    text-align: center;
  }
}

@media screen and (min-width: 400px) {
  .ImgClass {
    text-align: center;
  }

  img {
    text-align: center;
  }
}
.aside-navbar {
  height: 91vh;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  z-index: 9999;
}

.paddingLeftRightTop {
  padding: 15px 5px 5px 5px;
}

.paddingLeftRight {
  padding: 0 5px 0 5px;
}

.paddingLeftRight .carousel-inner {
  overflow: visible !important;
}


