<ngb-carousel>
  <ng-template ngbSlide>
    <img
      class="image-slider"
      src="/assets/img/Account-Plan.jpg"
      alt="/assets/img/Account-Plan.jpg"
    />
  </ng-template>
  <ng-template ngbSlide>
    <img
      class="image-slider"
      src="/assets/img/Company-overview.jpg"
      alt="/assets/img/Company-overview.jpg"
    />
  </ng-template>
  <ng-template ngbSlide>
    <img
      class="image-slider"
      src="/assets/img/Icons.jpg"
      alt="/assets/img/Icons.jpg"
    />
  </ng-template>
</ngb-carousel>

<!-- ************************************************Template view -->
<div class="row mt-3 mb-2">
  <div class="col-6 router-links lblFontFamily">
    <i
      class="fa fa-bars js-hamburger menu-icon cursor-pointer"
      style="color: #dc3545 !important"
      (click)="coreService.showSideBar = true"
    ></i
    >&nbsp;
    <a routerLink="/template/view-all">Template</a>
  </div>
  <div class="col-6 router-links text-right">
    <a routerLink="/template/view-all">View All</a>
  </div>
</div>
<app-slider
  [dataCollection]="allTemplates"
  [sliderName]="'template'"
  [propertyName]="'CategoryImagePath'"
  (onClickOfItem)="onClickOfTemplate($event)"
>
</app-slider>

<!-- ************************************************Domain view -->
<div class="row mt-3 mb-2">
  <div class="col-6 router-links lblFontFamily">
    <a routerLink="/domain/view-all">Domain</a>
  </div>
  <div class="col-6 router-links text-right">
    <a routerLink="/domain/view-all">View All</a>
  </div>
</div>
<app-slider
  [dataCollection]="allDomains"
  [sliderName]="'domain'"
  [propertyName]="'DomainImagePath'"
  (onClickOfItem)="onClickOfDomain($event)"
></app-slider>

<!-- ************************************************Design view -->
<div class="row mt-3 mb-2">
  <div class="col-6 router-links lblFontFamily">
    <a routerLink="/design/view-all">Design</a>
  </div>
  <div class="col-6 router-links text-right">
    <a routerLink="/design/view-all">View All</a>
  </div>
</div>
<app-slider
  [dataCollection]="allDesigns"
  [sliderName]="'domain'"
  [propertyName]="'DesignImagePath'"
  (onClickOfItem)="onClickOfDesign($event)"
></app-slider>

<!-- ************************************************Icon view -->
<div class="row mt-3 mb-2">
  <div class="col-6 router-links"><a routerLink="/icon/view-all">Icons</a></div>
  <div class="col-6 router-links text-right">
    <a routerLink="/icon/view-all">View All</a>
  </div>
</div>
<app-slider
  [dataCollection]="allIcons"
  [sliderName]="'icon'"
  [propertyName]="'IconImagePath'"
  (onClickOfItem)="onClickOfIcon($event)"
></app-slider>
<div class="row mb-3"></div>
