<div
  class="modal fade"
  [ngClass]="show ? 'show display-block1' : ''"
  id="cartModal"
>
  <div
    class="modal-dialog modal-lg modelWidth fadeInLeft animated"
    id="cartUserModal"
  >
    <div class="modal-content">
      <!-- Modal body -->
      <div class="modal-body">
        <div class="">
          <div class="row">
            <div class="col-12 border-bottom">
              <h5 class="text-left mt-0">
                My cart (<span>{{ TotalItem }}</span
                >)
                <span
                  class="close-iconSeting js-close"
                  (click)="Close()"
                ></span>
              </h5>
            </div>
            <div class="col-12" id="cartOverlay">
              <div
                class="row mt-2"
                *ngFor="let Cart of showcart; let i = index"
              >
                <div class="col-4">
                  <img
                    [src]="Cart.ObjectImagePath"
                    class="img-fluid"
                    alt="product 1"
                  />
                </div>
                <div class="col-4">
                  {{ Cart.ObjectName }}
                </div>
                <div class="col-2">
                  <i
                    class="fas fa-trash-alt cursor-pointer"
                    (click)="Remove(Cart.ObjectIid)"
                  ></i>
                </div>
                <div class="col-2" style="color: darkgoldenrod;">
                  {{ Cart.Price | currency }}
                </div>
              </div>
              <div
                class="row mt-2 pt-2 pb-2"
                style="background-color: #f2f2f2"
                *ngIf="showcart?.length"
              >
                <div class="col float-right">
                  Subtotal(<span class="subtotal-count">{{ TotalItem }}</span
                  >):
                  <span class="subtotal-price darkgoldenrod">{{
                    CartAmount | currency
                  }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-12 text-center">
          <button
            [disabled]="TotalItem <= 0"
            (click)="gotoPage()"
            class="btn btn-primary btn-sm"
          >
            Download
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
