<div class="row mt-5"></div>
<div class="col-12 text-center mt-5">
  <img src="assets/img/download.png" style="height:100px; width: 26%" />
  <h1>Payment done</h1>
  <p>Your Payment for listed amount has processed succesfully</p>
</div>
<hr />
<div class="row mb-2">
  <div class="col-12 text-center" style="border-right:groove">
    <p>You want to download the file Click Download Button</p>
    <button
      id="btnDownload"
      (click)="Download()"
      class="btn btn-primary"
      style="background-color:#39b449;border-color:#39b449"
    >
      INSERT SLIDES
    </button>
  </div>
</div>
